name: Update conda-forge feedstock

on:
  release:
    types: [published]

jobs:
  update-feedstock:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Update conda-forge feedstock
        uses: conda-forge/update-conda-forge-feedstock-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          recipe-directory: recipe/
